table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
}

table,
th,
td {
    border: 1px solid;
}

.template-container {
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-input {
    width: 100%;
    max-width: 300px;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    font-size: 16px;
    color: white;
    background-color: #e47911;
    /* Matches orange button color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #d3670f;
}

.search-button i {
    margin-right: 5px;
}


@media (max-width: 600px) {
    .search-container {
        flex-direction: column;
        gap: 10px;
    }

    .search-input {
        width: 100%;
    }
}

.center {
    text-align: center;
}